@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Hide scrollbar globally for Chrome, Safari, and Edge */
* {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}

/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}
/* Global styles to hide scrollbar but allow scroll */
html, body {
  overflow: scroll;  /* Allow scrolling */
}

* {
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer/Edge */
  scrollbar-width: none;     /* Hide scrollbar in Firefox */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}


/* Reset default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Ensure the root element and main content span the full viewport */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
